body {
	background-color:#c4c2be;
	margin: 0;
	padding: 0;
}
table.table {
	border: 1px solid black;
	border-collapse:collapse;
}
table.table td {
	border: 1px solid black;
	padding: 4px;
}
table.table th {
	text-align:center;
	border: 1px solid black;
}
#right {
	text-align:right;
}
#link {
	text-decoration:none;
	color:inherit;
}
a:visited {
	color:inherit;
}
a:link {
	color:inherit;
}
a:hover {
color:#FF0000;
}
div.login {

}
pre.log {
white-space: pre-wrap;
word-wrap: break-word;
width: 700;
}

/* ------- Start main table ------------- */
table.main {
	border-collapse:collapse;
	height:100%;
	width:100%;
}
td.header {
	border: 1px solid black;
	padding: 4px;
	text-align:left;
	height: 80px;
}
td.menu {
	border: 1px solid black;
	padding: 4px;
	text-align:left;
	vertical-align: top;
	width:150px;
}
td.body {
	vertical-align: top;
	padding: 8px;
}
td.footer {
	border: 1px solid black;
	padding: 4px;
	text-align:center;
	height: 50px;
}
/* ------- End main table ------------- */
